<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lovef.catch_me_if_you_can">
    <uses-permission android:name="android.permission.INTERNET"/><!--facebook login여기-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--구글 시작
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>구글 끝-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"><!--gcm receiver 여기서부터 위로 세줄-->
        <!--gcm receiver intent-filter안으로 다 gcm관련 권한한-->
       <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/><!--facebook login여기-->
            <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <activity android:name=".catch_search_page"/>
            <activity android:name=".catch_join_page"/>
            <activity android:name=".catch_login_page"/>
            <activity android:name=".catch_menu_page"/>
            <activity android:name=".job_page"/>
            <activity android:name=".thread_test1"/>
            <activity android:name=".async_test1"/>
            <activity android:name=".test_json"/>
            <activity android:name=".catch_db"/>
            <activity android:name=".catch_mind_page"/>
            <activity android:name=".catch_main_page"/>
            <activity android:name=".catch_information_page"/>
             <activity android:name=".test_viewpager"/>
            <activity android:name=".test_tab"/>
            <activity android:name=".test_viewpager_tap_fragment"/>
            <activity android:name=".test_fragment"/>
           <!-- <activity android:name=".test_tab_pager_fragment"/>-->
            <activity android:name=".test_google_login"/>
            <activity android:name=".datatextview"/>
            <activity android:name=".datalistview"/>
            <activity android:name=".php_mysql_fcm"/>
            <activity android:name=".php_cronetab"/>
          <activity android:name=".datatextview2"/>
          <activity android:name=".test_listviwe_json"/>
        <activity android:name=".catch_core_page"/>
        <activity android:name=".catch_core_page_one"/>
        <activity android:name=".catch_core_page_two"/>
        <activity android:name=".catch_core_page_three"/>
        <activity android:name=".catch_core_page_one_view"/>
        <activity android:name=".test_counterservice_view"/>
        <activity android:name=".catch_core_page_one_result"/>
        <activity android:name=".catch_core_page_one_select"/>
        <activity android:name=".test_chat"/>
        <activity android:name=".test_chat_3"/>
        <activity android:name=".chat_4"/>
        <activity android:name=".chat_5"/>
        <activity android:name=".chat_5_test_client"/>
        <activity android:name=".ChatClient"/>

        <!--<activity android:name=".test_broadcast"/>-->
        <!--facebook login여기-->
            <activity android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />
        <!--naver login여기-->
        <!--
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" android:screenOrientation="portrait"/>
            -->

    <!-- gcm receiver start-->
    <!--gcm receiver end-->

    <!-- gcm service start-->
    <!-- gcm service end-->


    <service android:name=".test_countservice">
        <intent-filter><!--인텐트 필더로 연결~-->
            <action android:name="com.superoid.service.test_countservice"/>
        </intent-filter>
    </service>
        <!--
    <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            <category android:name="com.brianandroid.myzzung.coli.gcm"/>
        </intent-filter>
    </receiver>-->
    <!--
    <receiver android:name=".test_broadcast">
            <intent-filter>
                <action android:name="com.superoid.test.Broadcasting.action.FILE_DOWNLOAD"/>
            </intent-filter>
    </receiver>-->
        <service
            android:name=".FirebaseMessagingService"><!--데이터 수신용 클래스-->
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>

        <service
            android:name=".FirebaseInstanceIDService"><!--listern for token--><!--토큰 갱신용 클래스-->
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service><!--token service-->

    </application>
</manifest>